:root {
	--header-height: 50px;
}

html, body {
	margin: 0;
	font-family: 'Meiryo', 'MS Gothic', 'Yu Gothic', sans-serif;
}

.header {
	height: var(--header-height);
	width: 100vw;
	line-height: var(--header-height);
	font-size: 1.5em;

	background-color: bisque;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header span {
	padding-left: 1em;
}

.app {
	height: 100vh;
	width: 100%;
	background-color: snow;
}

.main {
	padding: 1em;
}

.monitor {
	display: flex;
}

.status {
	flex: auto;
}

.progress {
	flex: auto;
	flex-grow: 5;
	display: flex;
	justify-content: center;
}

#status {
	font-weight: bold;
	font-size: 1.5em;
}

#progress {
	width: 100%;
	margin-left: 1em;
	margin-right: 0;
}

#start-btn {
	height: 2em;
	width: 100%;
	font-size: 2em;
	margin-top: 1em;
}
